@import "reset.css";

.wrap {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
}

header {
  height: 70px;
  width: 100%;
  background-color: antiquewhite;
  position: fixed;
  flex: 1 0 auto;
}

nav {
  position: fixed;
  top: 70px;
  width: 250px;
  height: calc(100vh - 70px);
  background-color: aliceblue;
}

main {
  position: relative;
  /* left: 250px; */
  /* top: 70px; */
  margin-left: 250px;
  margin-top: 70px;
  flex: 1;
  background-color: pink;
}
